body {
    margin: 0;
}
.header-container {
    color: #fff;
    background-color: #0047AB;
    display: flex;
    justify-content: center;
    padding: 0;
}
.header {
    display: flex;
    width: 1800px;
    justify-content: space-between;
    padding: 30px;
}
.links {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}
.logo {
   font-size: 24px;
}
a{
    color: #fff;
    text-decoration: none;
}
.container{
    color: #fff;
    background-color: #DF2935;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 100%;
}
.main-photo {
    width: 500px;
    height: 300px;
    border: 2px solid gold;
    border-radius: 10px;
}
.one {
    
}
.description {
 font-size: 20px;
 color: rgb(219, 218, 218);
 font-weight: 800;
}
.sign-up{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size:  15px;
    font-weight: 800;
    background-color: #FFD300;
}
.main-text{
    color: rgb(219, 218, 218);
}
.container-2 {
    display: flex;
    align-items: center;
    background-color: #ffd500;
    height: 375px;    
    flex-direction: column;
    text-align: center;
}
.images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
}
.img-1 {
    height: 200px;
    width: 200px;
    border: 4px solid #0047AB;
    border-radius: 10px;
}
.examples {
    font-size: 36px;
    font-style: oblique;
}
.barca {
    text-align: center;
}
.container-3 {
    background-color: #e4be00;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.quote {
    font-size: 40px;
    font-style: italic;
}
.container-4 {
    height: 300px;
    background-color: #ffd500;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-5 {
    background-color: #DF2935;
    height: 150px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}
.text {
   color: rgb(219, 218, 218);
}
.sign-up-2 {
    width: 200px;
    height: 60px;
    border-radius: 8px;
    font-size:  25px;
    font-weight: 800;
    background-color: #FFD300;
    font-family: Tahoma sans-serif;
}
.container-6 {
    background-color: #0047AB;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}